
    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
  
      /* Popup styling */
  
      .mapboxgl-popup {
        padding-bottom: 5px;
      }
  
      .mapboxgl-popup-close-button {
        display: none;
      }
  
      .mapboxgl-popup-content {
        font: 400 15px/22px 'eurostile', 'Helvetica Neue', Sans-serif;
        padding: 0;
        width: 250px;
        color:#121f3e;
        font-size: 16px;
        font-weight:400;
        border-bottom: 4px solid #e82c20;
      }
  
      .mapboxgl-popup-content-wrapper {
        padding: 1%;
      }
  
      .mapboxgl-popup-content h3 {
        text-align: center;
        margin: 0;
        display: block;
        padding: 15px;
        font-weight: 700;
        font-size: 32px;
        margin-bottom:16px;
        line-height:1.1;
      }
  
      .mapboxgl-popup-content h4 {
        margin: 0;
        display: block;
        padding: 10px 3px 10px 10px;
        font-weight: 400;
      }
  
      .mapboxgl-container {
        cursor: pointer;
      }
  
      .mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
        margin-top: 3px;
      }
  
      .mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
        border-bottom-color: rgb(61, 59, 59);
      }